<!-- <br/>
 <style>
    @media print {
      footer {
        display: none;
      }
    }
</style>
<section id="footer">
<footer class="container-footer">
  <div class="panel-footer">
	  <div class="row"> -->
<!-- 		<div class="col-sm-4">
		    <h5>About</h5>	
            <p>{{ site.affiliation }}</p>
		</div> -->

<!-- 		<div class="col-sm-4">
		    <h5>Contact</h5>	
            <p>{{ site.contact }}</p>
		</div>

		<div class="col-sm-4">
		    <h5>Affiliation</h5>	
            <p>{{ site.location }}</p>
		</div>
	  </div>

      <center><p>&copy {{ "now" | date: "%Y" }} {{site.title | escape }} </p></center>
	</div>
  </div>
</div>  -->


<br/>
<style>
  @media print {
    footer {
      display: none;
    }
  }

  #footer {
    text-align: center;
    padding: 20px 0;
  }

  .panel-footer .row {
    justify-content: center;
  }

  .panel-footer .col-sm-4 {
    margin-bottom: 5px;
  }
</style>

<section id="footer">
  <footer class="container-footer">
    <div class="panel-footer">
      <div class="row d-flex justify-content-center text-center">
        <!-- Colunas centralizadas -->
        <div class="col-sm-4">
          <h5>
            {% if page.lang == "pt" %}
              Contato
            {% else %}
              Contact
            {% endif %}
          </h5>	
          <p>
            {% if page.lang == "pt" %}
              {{ site.contact_ptbr }}
            {% else %}
              {{ site.contact_en }}
            {% endif %}
          </p>
        </div>

        <div class="col-sm-6">
          <h5>
            {% if page.lang == "pt" %}
              Afiliação
            {% else %}
              Affiliation
            {% endif %}
          </h5>	
          <p>
            {% if page.lang == "pt" %}
              {{ site.location_ptbr }}
            {% else %}
              {{ site.location_en }}
            {% endif %}
          </p>
        </div>
      </div>

      <p class="text-center mt-3">&copy; {{ "now" | date: "%Y" }} {{ site.title | escape }}</p>
    </div>
  </footer>
</section>




